:root {
  --first-color: #131633;
  --second-color: #fff;
  --button-color: #42dbdc;
}
.site-layout-background {
  width: 100%;
}
/*
* ==========================================================
*       Toggle
* ==========================================================
*/
table#example1 {
  margin-top: 20px;
  height: 250px;
  width: 100%;
  font-size: 14px;
}
div#allreport {
  color: var(--second-color);
}
div#allreport h1 {
  font-size: 32px;
  color: var(--second-color);
}
.trigger {
  padding: 0 24px;
  font-size: 20px;
  line-height: 75px;
  cursor: pointer;
  transition: color 0.3s;
  color: rgb(146, 143, 143);
  padding-left: 30px;
}
.trigger:hover {
  color: var(--second-color);
}
/* ---header--- */
.ant-layout-header {
  background-color: var(--first-color);
  height: 75px;
}
.testlogo {
  float: left;
}

/* ===================================
      --header/centerbody--
 ===================================*/

/* --header-- */
.ant-layout-content {
  -ms-flex: auto;
  flex: auto;
  background-color: #212840;
  min-height: 0;
  padding: 25px;
}
/*  Navbar  */
.logout-content {
  color: rgb(151, 150, 151);
  margin-top: -60px;
  float: right;
  margin-right: 40px;
  font-size: 20px;
}
.logout-content :hover {
  color: var(--button-color) !important;
  cursor: pointer;
}
.welcome-message {
  color: rgb(151, 150, 151);
  margin-top: -60px;
  float: right;
  margin-right: 40px;
  font-size: 20px;
}
/* body */
.site-layout {
  background: #212840;
  height: 80px;
}
.h2 {
  color: rgb(151, 150, 151);
}
.layout-container {
  background-color: var(--first-color);
  padding-top: 20px;
  padding-left: 20px;
}
.bottom-container {
  background-color: var(--first-color);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/*=======================================
              sider
 ========================================*/
/* --sidebar-- */
.ant-menu-dark.ant-menu-inline {
  background-color: #c6c6ca;
}
.ant-layout-sider {
  flex: 0 0 204px !important;
  max-width: 204px !important;
  min-width: 204px !important;
  width: 204px !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}
.ant-layout-sider {
  background: var(--first-color);
}
.ant-layout-sider-children {
  height: 100%;
  min-height: 1024px;
  margin-top: 7.9px;
  padding-top: 4.1px;
}

/* sidebar minimize */
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: var(--first-color) !important;
}

/* -- sidebar dropdown-- */
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: var(--first-color);
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #188fff67;
  height: 40px;
}
.ant-menu-item-selected {
  color: var(--second-color) !important;
  border-right: 0;
}
.ant-menu-dark .ant-menu-item:hover,
.ant-menu-dark .ant-menu-submenu-title:hover {
  color: var(--button-color);
  background-color: #19244a;
  height: 40px;
}

.ant-menu-item a:hover {
  color: var(--button-color) !important;
}

.ant-menu-inline .ant-menu-submenu {
  padding-bottom: 7.02px;
}

/* ===================================
            grid element
 =================================== */
.ant-card-head {
  color: var(--second-color);
}
.ant-card-head::after {
  color: "red";
}
.ant-card-bordered {
  padding-left: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  height: 90px;
  background-color: var(--first-color);
}
/* -----------dropdown----------- */
.ant-menu-submenu-arrow {
  color: var(--second-color);
}
.test-dropdown {
  color: rgba(255, 255, 255, 0.65);
}
/* -----listitem,&delete btn ----- */

/* list */
.list {
  color: var(--second-color);
  background-color: var(--first-color);
}
.list p {
  position: relative;
  transition: ease-in-out;
  margin-bottom: 1px !important;
}
.list p input {
  background-color: transparent;
  border: 0;
  color: var(--second-color);
  font-size: 18px;
}
.list p input:focus {
  outline: none;
}
.list p span {
  position: absolute;
}
/* delete btn */
.faicons {
  margin: 0 5px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}
.faicons:hover {
  color: red;
  padding: 3px;
}
/*
* ==========================================================
*     Input
* ==========================================================
*/
/* form input */
.ant-form-item-label > label {
  color: var(--second-color);
  font-size: 16px;
}

.label {
  color: rgb(151, 150, 151);
  font-size: 17px;
}
.input {
  width: 100px;
  font-size: 1rem;
  border: 1px solid gray !important;
  color: var(--second-color);
  background-color: transparent !important;
}
.ant-input {
  width: 400px;
  height: 40px;
  font-size: 15px;
  background-color: transparent !important;
  border: 1px solid gray;
  color: var(--second-color);
}
.ant-input-affix-wrapper > input.ant-input {
  background-color: transparent !important;
}

.ant-form-item-has-error .ant-input:hover {
  background-color: transparent !important;
}
.ant-select:focus,
.ant-select-focused {
  border-color: var(--button-color);
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
}
.ant-table-cell > .ant-input {
  border: 1px solid gray;
}
/* --input number-- */
.ant-input-number {
  width: 450px;
  height: 40px;
  font-size: 15px;
  background-color: transparent !important;
  border: 1px solid gray;
  color: var(--second-color);
}
.ant-input-number-input-wrap {
  padding-top: 5px;
}
.ant-input-number-handler-up-inner svg {
  color: black;
}
/* ---datepicker--- */
.ant-picker {
  width: 230px;
  color: #666873;
  font-size: 20px;
  padding: 11px 11px 8px;
  border: 1px solid gray;
  border-radius: 2px;
}
.ant-picker-suffix {
  color: rgb(151, 150, 151);
  font-size: 18px;
}
.ant-picker-input > input {
  color: rgb(151, 150, 151);
  font-size: 18px;
}
/* ===================================
    Input dropown
=================================== */
.ant-input-group.ant-input-group-compact
  > .ant-select:last-child
  > .ant-select-selector {
  background-color: transparent;
  color: var(--second-color);
  /* width:450px; */
  height: 40px;
  font-size: 1rem;
  border-color: gray;
  padding-top: 4px;
}
.ant-select-arrow {
  color: var(--second-color);
}
/* -------tooltip------- */
.ant-tooltip-inner {
  min-width: 50px;
  min-height: 20px;
  color: var(--second-color);
  word-wrap: break-word;
  background-color: #282b2f;
  border-radius: 8px;
}
/*
* ===================================
*      Button
* ===================================*/

.ant-btn {
  background-color: var(--button-color);
  color: black;
  font-weight: bold !important;
  border: 2px solid #1e7272;
  border-radius: 0.35rem;
  width: 75px;
  height: 42px;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
  padding: -0.55rem 0.75rem;
  text-align: center;
  display: inline-block;
}
.ant-btn:hover,
.ant-btn:focus {
  color: black;
  background-color: #d13c4f;
  border-color: #cf3145;
  box-shadow: 0px 0px 0px 3px #d13c4f;
}
.btn-test {
  background-color: none !important;
}

/* ===================================
         testpage card + btn
=================================== */
.test-layout {
  background-color: var(--first-color);
  padding-left: 20px;
  height: 768px;
}
.add-btn {
  width: 2em;
  height: 3em;
  background-color: var(--button-color);
  border: 2px solid var(--button-color);
  border-radius: 5px;
}
.add-btn:hover {
  cursor: pointer;
  color: #255784;
  background: var(--button-color);
  border: 2px solid var(--button-color);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--button-color), 0 0 10px var(--button-color),
    0 0 0px var(--button-color);
}
.add-btn[disabled] {
  cursor: not-allowed;
}
.site-button-ghost-wrapper {
  padding: 8px 8px 0 8px;
  background-color: var(--button-color);
}

/* icon-btn */
.icon-button1 {
  margin-left: 40px;
  margin-top: 1px;
  color: green;
  font-size: 30px;
  position: relative;
}
.icon-button1:hover {
  color: #255784;
  background: var(--button-color);
  border: 2px solid var(--button-color);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--button-color), 0 0 10px var(--button-color),
    0 0 0px var(--button-color);
}
.iconbutton1-basic {
  margin-left: 40px;
  margin-top: 1px;
  color: gray;
  font-size: 30px;
  position: relative;
}
.icon-button2 {
  margin-left: 3px;
  margin-top: 1px;
  color: green;
  font-size: 30px;
}
.icon-button2:hover {
  color: #255784;
  background: rgb(56, 189, 56);
  border: 2px solid rgb(56, 189, 56);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(56, 189, 56), 0 0 10px rgb(56, 189, 56),
    0 0 0px rgb(56, 189, 56);
}
.iconbutton2-basic {
  margin-left: 3px;
  margin-top: 1px;
  color: gray;
  font-size: 30px;
}
.icon-button3 {
  margin-left: 40px;
  margin-top: 1px;
  color: red;
  font-size: 30px;
}
.icon-button3 :hover {
  color: #255784;
  background: rgb(185, 51, 17);
  border: 2px solid rgb(185, 51, 17);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(185, 51, 17), 0 0 10px rgb(185, 51, 17),
    0 0 0px rgb(185, 51, 17);
}
.iconbutton3-basic {
  margin-left: 40px;
  margin-top: 1px;
  color: gray;
  font-size: 30px;
}
.icon-button4 {
  margin-left: 3px;
  margin-top: 1px;
  color: red;
  font-size: 30px;
}
.icon-button4 :hover {
  color: #255784;
  background: rgb(185, 51, 17);
  border: 2px solid rgb(185, 51, 17);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(185, 51, 17), 0 0 10px rgb(185, 51, 17),
    0 0 0px rgb(185, 51, 17);
}
.iconbutton4-basic {
  margin-left: 3px;
  margin-top: 1px;
  color: gray;
  font-size: 30px;
}
.logout-btn {
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: gray;
}
.logout-btn:hover {
  color: black;
  padding: 5%;
  border: 1px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--button-color), 0 0 10px var(--button-color),
    0 0 0px var(--button-color);
}
/* radio-btn */
.ant-radio-disabled + span {
  color: rgba(187, 184, 184, 0.25);
  cursor: not-allowed;
}

/* progress bar */
.arrow-btn {
  color: rgb(72, 212, 72);
}
.arrow-btn:hover {
  color: var(--button-color);
  padding: 4%;
  border: 1px;
  cursor: pointer;
}
.arrow-btn:active {
  color: red;
}
.arrow-btn-disable {
  color: #5f6363;
}
.ant-progress-text {
  color: var(--second-color) !important;
}
.progress_box {
  border: 1px solid green;
  border-radius: 7px;
  background-color: var(--first-color);
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 0px;
}
.progress_title {
  font-size: calc(5px + 0.6vw);
  color: var(--second-color);
  text-transform: uppercase;
  text-align: center;
}

/*
* =============================
*      Table
* =============================
*/
.table-container {
  background-color: var(--first-color);
  padding-bottom: 10px;
  margin-top: 10px;
}
.ant-table-thead > tr > th {
  color: rgb(151, 150, 151);
  text-transform: capitalize;
  font-weight: 400;
  font-weight: bold !important;
  text-align: left;
  background: var(--first-color);
  border-bottom: 1px solid rgb(82, 79, 79);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: #39393a;
  color: var(--second-color);
}
.ant-table-tbody > tr > td {
  color: rgb(192, 196, 201);
  background: var(--first-color);
  border-bottom: none;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.ant-table-tbody > tr:nth-child(2n + 1) > td {
  background-color: #282b2f;
}
.ant-table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.anticon-edit:hover {
  color: mediumaquamarine;
}

/* ===================================
      --pagination--
 ===================================*/
.ant-pagination-item-active a {
  color: var(--second-color);
  background-color: var(--first-color);
  /* border-color:rgb(146, 143, 143); */
}
.ant-pagination-item a {
  color: var(--second-color);
}
.ant-pagination-item-active {
  font-weight: 500;
  background: var(--first-color);
  border-color: rgb(146, 143, 143);
}
.ant-pagination-item-link {
  color: var(--second-color) !important;
  background-color: var(--first-color) !important;
  border-color: rgb(146, 143, 143);
}
/* ===================================
      --testpage Line--
===================================*/
.hr {
  border-top: 1px solid #6a6c70;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.ant-row.test-mode {
  display: none;
}
/* ===================================
      --testpage ant-popover--
===================================*/
.ant-popover-inner-content p {
  margin-bottom: 8px !important;
  color: var(--second-color);
}
.ant-popover-title,
.ant-popover-message-title {
  color: var(--second-color);
}

.ant-popover-inner {
  border: 60px;
  background: #212840;
  color: var(--second-color);
  border-color: var(--second-color);
}

/* =================================== 
      --dashboard transfer--
 ===================================*/
.ant-transfer {
  border: none;
  padding-top: 20px;
}
.ant-transfer-list-header {
  height: 40px;
  padding: 8px 12px 9px;
  color: var(--second-color);
  background: gray;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}
.ant-transfer-list-content-item {
  color: var(--second-color);
}
.ant-transfer-list-content-item-checked {
  background-color: #1c7da9;
}
.ant-transfer-list {
  border: 1px solid #6a6c70;
  border-radius: 2px;
}
.ant-transfer-list-content-item:not(.ant-transfer-list-content-item-disabled):hover {
  /* background-color: rgb(66, 66, 66); */
  color: black;
  cursor: pointer;
}
.ant-transfer-list-content {
  color: #6a6c70;
  background-color: #212840;
  border: none;
}
.ant-transfer-operation {
  margin: -1px 51px;
  overflow: hidden;
  vertical-align: middle;
}
.ant-btn-icon-only.ant-btn-sm {
  width: 50px;
  height: 40px;
  padding: 0px 0;
  font-size: 14px;
  border-radius: 5px;
}
.ant-transfer-operation .ant-btn:first-child {
  margin-bottom: 30px;
}
/* ---dashboard btn--- */
.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:active {
  background: #5898d4;
  border-color: #1275d1;
}
/* --dashboard anticon-- */
.ant-transfer-operation .ant-btn .anticon {
  color: black;
}
.transfer-layout {
  background-color: var(--first-color);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/*
* ==========================================================
*             Login & register pages
* ==========================================================
*/
* {
  box-sizing: border-box;
}
.background {
  background: url(../Images/bg.jpeg);
  /* background-image: 1024 * 74; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.container {
  max-width: 1170px;
  margin-right: auto;
}
.wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}
.form-holder {
  max-width: 70%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
}
.form-holder .info {
  height: 100%;
  min-height: 70vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.form-holder div[class*="col-"] {
  padding: 0;
}

.form-holder .info {
  background: rgba(219, 101, 116, 0.95);
  color: var(--second-color);
}
@media screen and (min-width: 601px) {
  .form-holder .info h1 {
    font-size: 3.5em;
    font-weight: 500;
  }
}
@media screen and (min-width: 601px) {
  .form-holder .info p {
    font-weight: 300;
    font-size: 18px;
  }
}
.form-holder .content {
  height: 100%;
  min-height: 70vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.form-holder .content {
  background: var(--first-color);
}
.form-holder .form a.forgot-pass,
.form-holder .form a.signup,
.form a.login {
  font-size: 0.9rem;
  color: var(--button-color);
}
.forgot-pass {
  color: var(--button-color);
}

.copyrights {
  width: 100%;
  z-index: 9999;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--second-color);
}
.anticon-user,
.anticon-mail,
.anticon-lock,
.anticon-eye-invisible {
  color: var(--second-color);
}
.ant-input-password-icon:hover {
  color: rgb(185, 173, 173);
}

@media (max-width: 991px) {
  .form-holder .info,
  .form-holder .form {
    min-height: auto;
    padding: 40px;
    height: 100%;
  }
}
.login-form-button {
  width: 32%;
  min-width: 50%;
  max-width: 300%;
}
/* ===================================
           -- Footer--
 ===================================*/
.ant-layout-footer {
  padding: 8px 50px;
  font-size: 18px;
  background-color: var(--first-color);
  height: "30px";
  width: "100%";
  font-family: "muli";
}

/* --Statistic Block-- */
.statistic-block {
  height: 130px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background: var(--first-color);
  color: var(--second-color);
}
.statistic-block-title {
  text-align: center;
  padding-top: 13px;
}
.statistic-arrow {
  width: 20px;
  height: 30px;
  margin-top: 8px;
  margin-left: 30px;
}
.statistic-number {
  padding-left: 20%;
  font-size: 23px;
}
.statistic-block strong {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 13px !important;
  color: var(--second-color);
  margin-bottom: -5px !important;
}
.statistic-block .number {
  color: inherit;
}
.statistic-block strong,
.statistic-block span {
  display: block;
}

.progress.progress-template {
  width: 100%;
  height: 2px;
  border-radius: 30px;
  overflow: hidden;
  background: var(--button-color);
  margin-top: 5px;
}

.progress.progress-template.progress-small {
  height: 2px;
}
.progress-bar.progress-bar-template {
  height: 4px;
  border-radius: 30px;
}
.progress-bar.progress-bar-template.progress-bar-small {
  height: 2px;
}
.site-card-wrapper {
  background-color: "#212840";
}
/* ----graph---- */
.ant-card-body {
  color: var(--second-color);
  padding: 15px;
}
.graph-card {
  background-color: var(--first-color);
  height: 310px;
  border: none;
  border-radius: 0px;
  width: 450px;
}
@media only screen and (min-width: 2000px) {
  .statistic-block {
    height: 170px;
    padding-top: 25px;
  }
  .statistic-block-title {
    padding-top: 28px;
    font-size: 30px;
  }
  .statistic-arrow {
    width: 25px;
    height: 35px;
  }
  .statistic-number {
    padding-left: 25%;
    font-size: 30px;
  }
  .statistic-block strong {
    font-size: 20px !important;
  }
  .graph-card {
    width: 600px;
    height: 300px;
  }
}
@media only screen and (max-width: 1400px) {
  .statistic-block {
    height: 170px;
    padding-top: 25px;
  }
  .statistic-block-title {
    padding-top: 28px;
  }
  .statistic-arrow {
    width: 18px;
    height: 25px;
  }
  .statistic-number {
    padding-left: 20%;
    font-size: 15px;
  }
  .statistic-block strong {
    font-size: 10px !important;
  }
  .graph-card {
    background-color: var(--first-color);
    height: 250px;
    border: none;
    border-radius: 0px;
    width: 300px;
  }
}

/* ---alert error--- */
.ant-alert-error {
  background-color: var(--second-color) 2f0;
  border: 1px solid #ffccc7;
}
/* export report */
.export-layout {
  background-color: var(--first-color);
  padding-left: 20px;
  width: auto;
  padding-top: 10px;
  border: solid var(--second-color);
}
