/*
* ==========================================================
*       Toggle
* ==========================================================
*/
.trigger {
  padding: 0 24px;
  font-size: 20px;
  line-height: 75px;
  cursor: pointer;
  transition: color 0.3s;
  color: rgb(146, 143, 143);
  padding-left: 70px;
}
.trigger:hover {
  color: #fff;
}
/* ---header--- */
.logo {

}
.ant-layout-header {
  background-color:#131633;
  height: 75px; 
}
.testlogo{
  float: left;
}

 /* --------------------------------- 
      --header/centerbody--
 -----------------------------------*/

/* --header-- */
.ant-layout-content {
  -ms-flex: auto;
  flex: auto;
  background-color: #212840;
  min-height: 0;
  padding: 25px;
}
/*  Navbar  */
.logout-content {
  color:rgb(151, 150, 151);  
  margin-top: -60px;  
  float: right;
  margin-right: 40px;
  font-size: 20px;
}
.logout-content :hover {
  color: #42dbdc !important;
  cursor: pointer;
}
.welcome-message{
  color:rgb(151, 150, 151);  
  margin-top: -60px;  
  float: right;
  margin-right: 40px;
  font-size: 20px;
}
 /* body */
 .site-layout{
  background:#212840;
  height: 80px;
}
.h2{
  color: rgb(151, 150, 151);
  padding-top: '10px';
}
.layout-container{
  background-color: #131633;
  padding-top: 20px;
  padding-left: 20px;
}
.bottom-container{
  background-color: #131633;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px; 
}


/* ----------------------------------
           sider
 -----------------------------------*/
/* --sidebar-- */
.ant-menu-dark.ant-menu-inline {
  background-color: #c6c6ca;
}
.ant-layout-sider {
  background:#131633;
  
}
.ant-layout-sider-children {
  height: 100%;
  min-height: 1024px;
  margin-top: 7.9px;
  padding-top: 4.1px;
}

/* sidebar minimize */
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: #131633 !important;
}

/* -- sidebar dropdown-- */
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #131633;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #188fff67;
  height: 40px;
}
 .ant-menu-item-selected {
  color: #fff !important;
  border-right: 0;
}
.ant-menu-dark .ant-menu-item:hover,  
.ant-menu-dark .ant-menu-submenu-title:hover {
  color: #42dbdc;
  background-color:  #19244a;
  height: 40px;
     }

.ant-menu-item a:hover {
  color: #42dbdc !important;
}

.ant-menu-inline .ant-menu-submenu {
  padding-bottom: 7.02px;
}
 
/*  
.ant-menu-item-selected
 {
  color: red !important;
} */

/* ----------------------------------
            grid element
 -----------------------------------*/
 .ant-card-head {
  color: white;
}
.ant-card-head::after {
  color: 'red'
}
.ant-card-bordered {
  padding-left: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  height: 90px;
  background-color: #131633;
}

/*
* ==========================================================
*     Input
* ==========================================================
*/
/* form input */
.ant-form-item-label > label{
  color: white;
}
.label{
  color:rgb(151, 150, 151);
  font-size: 17px;
}
.input{
  width: 300px;
  font-size: 1rem;
  border: 1px solid  #3e434d !important;
  color:#fff;
  background-color: transparent !important;
}
.ant-input{
  width: 450px;
  height: 40px;
  /* height: 35px; */
  font-size: 15px;
  background-color: transparent !important;
  border: 1px solid #3e434d;
  color:#fff;
}
.ant-input-affix-wrapper > input.ant-input {
    background-color: transparent !important;
}

 .ant-form-item-has-error .ant-input:hover
  {
  background-color: transparent !important;
 }
/* .ant-input:focus, .ant-input-focused {
  border-color: #42dbdc;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
} */
/* .ant-input:hover {
   border-color: gray; 
  border-right-width: 1px !important;
} */
.ant-select:focus, .ant-select-focused {
  border-color: #42dbdc;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
}

/* --input number-- */
.ant-input-number{
  width: 450px;
  height: 40px;
  font-size: 15px;
  background-color: transparent !important;
  border: 1px solid #3e434d;
  color:#fff;
}
.ant-input-number-input-wrap{
  padding-top: 5px;
}
.ant-input-number-handler-up-inner svg{
  color: black;
}
/* ---datepicker--- */
.ant-picker {
  width:230px;
  color:#666873;
  font-size: 20px; 
  border: 1px solid #3e434d;
  border-radius: 2px;
}

.ant-picker-suffix {
  color: rgb(151, 150, 151);
  font-size: 18px;
}

.ant-picker-input > input {
  color:rgb(151, 150, 151);
  font-size: 18px;
}

/* -----------------------
    Input dropown
-------------------------- */
 .ant-input-group.ant-input-group-compact > .ant-select:last-child > .ant-select-selector 
{  
  background-color:transparent;
  color:#fff;
  /* width:450px; */
  height: 40px;
  font-size: 1rem;
  border-color:  #3e434d;
  padding-top: 4px;
}
.ant-select-arrow{
  color:white;
}
/* -------tooltip------- */
.ant-tooltip-inner {
  min-width: 50px;
  min-height: 20px;
  color: #fff;
  word-wrap: break-word;
  background-color: #282b2f;
  border-radius: 8px;
}
/*
* ===================================
*      Button
* ===================================*/

.ant-btn {
  background-color : #42dbdc;
  color:black;
  font-weight: bold !important;
  border: 2px solid #1e7272;
  border-radius: 0.35rem;
  width: 75px ;
  height: 42px ;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;  
  padding: -0.55rem 0.75rem; 
}
.ant-btn:hover, .ant-btn:focus {
  color: black;
  background-color: #d13c4f;
  border-color: #cf3145;
}
.btn-test{
  background-color: none !important;
}

/*
* =============================
*      Table
* =============================
*/
.ant-table-thead > tr > th {
  color: rgb(151, 150, 151);
  font-weight: 400;
  font-weight: bold !important;
  text-align: left;
  background: #131633;
  border-bottom: 1px solid rgb(82, 79, 79);
  /* border-bottom: none; */
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.ant-table-tbody > tr.ant-table-row:hover > td {
  background: #39393a;
  color: #fff;
}
.ant-table-tbody > tr > td {
  color:rgb(192, 196, 201);  
  background: #131633;
  border-bottom:none;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.ant-table-tbody > tr:nth-child(2n+1) > td {
  background-color: #282b2f;
  /* border-top: 1px solid #dee2e6; */
}
.ant-table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.anticon-edit:hover{
  color:mediumaquamarine;
  }
 /* --------------------------------- 
      --pagination--
 -----------------------------------*/
.ant-pagination-item-active a {
  color: #fff;
  background-color: #131633;
  /* border-color:rgb(146, 143, 143); */
}
.ant-pagination-item-active {
  font-weight: 500;
  background: #131633;
  border-color: rgb(146, 143, 143);
}
.ant-pagination-item-link{
  color: #fff !important;
  background-color: #131633 !important;
  border-color: rgb(146, 143, 143); 
}
 /* --------------------------------- 
      --testpage Line--
 -----------------------------------*/

 .hr {
  border-top: 1px solid #6a6c70;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

 /* --------------------------------- 
      --dashboard transfer--
 -----------------------------------*/
 .ant-transfer {
   border:none;
   padding-top: 20px;
 }
.ant-transfer-list-header {
  height: 40px;
  padding: 8px 12px 9px;
  color: white;
  background: gray;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}
.ant-transfer-list-content-item  {
  color: White;
}
.ant-transfer-list-content-item-checked {
  background-color: #1c7da9;
}
.ant-transfer-list {
  border: 1px solid #6a6c70;
  border-radius: 2px;
}
.ant-transfer-list-content-item:not(.ant-transfer-list-content-item-disabled):hover {
  /* background-color: rgb(66, 66, 66); */
  color: black;
  cursor: pointer;
}
.ant-transfer-list-content {
  color:#6a6c70;
  background-color: #212840;
  border: none;
}
.ant-transfer-operation {
  margin: -1px 51px;
  overflow: hidden;
  vertical-align: middle;
}
.ant-btn-icon-only.ant-btn-sm {
  width: 50px;
  height: 40px;
  padding: 0px 0;
  font-size: 14px;
  border-radius: 5px;
}
.ant-transfer-operation .ant-btn:first-child {
  margin-bottom: 30px;
}
/* ---dashboard btn--- */
.ant-btn-primary[disabled], 
.ant-btn-primary[disabled]:hover, 
.ant-btn-primary[disabled]:focus, 
.ant-btn-primary[disabled]:active {
  background: #5898d4;
  border-color: #1275d1;
}
/* --dashboard anticon-- */
.ant-transfer-operation .ant-btn .anticon {
  color: black;
}

/*
* ==========================================================
*             Login & register pages
* ==========================================================
*/
.background{
  background: url(../Images/bg.jpeg); 
  background-image: 1024*74;
}
.login-page {
  position: relative;
}
.login-page::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  background-size: cover;
  top: 0;
  right: 0;
}
.login-page .container {
  min-height: 100vh;
  z-index: 1;
}
.login-page .form-holder {
  width: 100%;  
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 50px;
  padding-top: 110px;
}
.login-page .form-holder .info,
.login-page .form-holder .form {
  min-height: 70vh;
  padding: 40px;
  height: 100%;
}
.login-page .form-holder div[class*='col-'] {
  padding: 0;
}
.login-page .form-holder .info {
  background: rgba(219, 101, 116, 0.95);
  color: #fff;
}
.login-page .form-holder .info h1 {
  font-size: 3.5em;
  font-weight: 500;
}
.login-page .form-holder .info p {
  font-weight: 300;
  font-size: 18px;
}
.login-page .form-holder .form {
  background: #131633;
}

/* .login-page .form-holder .form .form-group {
  position: relative;
  margin-bottom: 30px;
} */

/* .login-page .form-holder .form .content {
  width: 100%;
} */

/* .login-page .form-holder .form form {
  width: 100%;
  max-width: 400px;
} */

/* .login-page .form-holder .form #login,
.login-page .form-holder .form #register {
  margin-bottom: 20px;
  cursor: pointer;
  color: #fff;
} */

.login-page .form-holder .form a.forgot-pass,
.login-page .form-holder .form a.signup,  .form a.login {
  font-size: 0.9rem;
  color: #42dbdc;
}

/* .login-page .form-holder .form small {
  color: #aaa;
} */

/* .login-page .form-holder .form .terms-conditions label {
  cursor: pointer;
  color: #aaa;
  font-size: 0.9rem;
} */

.login-page .copyrights {
  width: 100%;
  z-index: 9999;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}
.anticon-user, .anticon-mail , 
.anticon-lock, .anticon-eye-invisible{
  color: #fff;
  }
.ant-input-password-icon:hover {
  color: rgb(185, 173, 173);
}
/* form input */
.form-input{
  background-color: pink;
}
@media (max-width: 991px) {
  .login-page .form-holder .info,
  .login-page .form-holder .form {
    min-height: auto;
    padding: 40px;
    height: 100%;
  }
}


 /* --------------------------------- 
           -- Footer--
 -----------------------------------*/
 .ant-layout-footer {
  padding: 8px 50px;
  font-size: 18px;
  background-color: #131633;
  height: "30px";
  width: '100%';  
  font-family: 'muli'; 
}
 
/* Statistic Block */
.statistic-block {
  height:110px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background: #131633;
  color: #8a8d93;
}

.statistic-block .title {
  text-align: center;
  padding-top: 10px;
}

.number {
  margin-right: 15%;
}

.statistic-block strong {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 13px !important;
  color: #8a8d93;
  margin-bottom: -5px !important;
}

.statistic-block .number {
  color: inherit;
  font-size: 25px !important;
}

.statistic-block strong,
.statistic-block span {
  display: block;
}

.statistic-block strong {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9rem;
  color: #8a8d93;
  margin-bottom: 5px;
}

.statistic-block .icon {
  margin-bottom: 5;
  font-size: 1.2rem;
  color: #8a8d93;
}

.statistic-block .number {
  color: inherit;
  font-size: 2.2rem;
}

.progress.progress-template {
  width: 100%;
  height: 2px;
  border-radius: 30px;
  overflow: hidden;
  background: #42dbdc;
  margin-top: 5px;
}

.progress.progress-template.progress-small {
  height: 2px;
}

.progress-bar.progress-bar-template {
  height: 4px;
  border-radius: 30px;
}

.progress-bar.progress-bar-template.progress-bar-small {
  height: 2px;
}

.site-card-wrapper {
  margin-top: 1.15%;
}
.ant-row {
  padding-top: 5px;
}
/* graph */

.ant-card-body {
  /* background: #131633; */
  color: #fff;
  padding: 15px;
  width: 400px;
 
}
/* list */
.list{
  color: #fff;
  
  background-color: #131633;
  /* border-radius: 5px; */
}
.list p{ 
  position: relative;
  transition: ease-in-out;
}
.list p input{
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 18px;
}
.list p input:focus{
  outline: none;
}
.list p span{
  position: absolute;
  /* right: 10px; */
}
.faicons{
  margin: 0 5px;
  font-size: 15px;
  cursor: pointer;
  padding-top: 10px;
}
